body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background-color: #1C26FF;
    color: #FFFFFF;
    padding: 10px;
    text-align: center;
    font-family: 'Helvetica', Arial, sans-serif;
}

nav {
    background-color: #1C26FF;
    text-align: center;
    font-family: 'Roboto', Arial, sans-serif;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

nav li {
    display: inline;
}

nav a {
    display: inline-block;
    padding: 14px 16px;
    color: #FFFFFF;
    text-align: center;
    text-decoration: none;
    font-family: 'Montserrat', Arial, sans-serif;
}

.container {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
    color: #333;
    text-align: center;
}

p {
    line-height: 1.6;
    margin-bottom: 16px;
}

footer {
    background-color: #888;
    color: #fff;
    text-align: center;
    padding: 20px;
}

.footer-content {
    display: flex;
    justify-content: center;
}

.footer-content p {
    margin: 0 10px;
    font-family: 'Montserrat', Arial, sans-serif;
}
