body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

.container {
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
    color: #333;
    text-align: center;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 8px;
    font-weight: bold;
}

input,
textarea {
    padding: 10px;
    margin-bottom: 16px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

button {
    padding: 12px;
    background-color: #1C26FF;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #0D165E;
}

.back-button {
    display: inline-block;
    background-color: #1C26FF;
    color: #FFFFFF;
    padding: 10px 15px;
    text-decoration: none;
    border-radius: 20px; /* Adjust the border-radius to make it round */
    margin: 10px auto;
    display: block;
    text-align: center;
}

.back-button:hover {
    background-color: #777;
}
